<div class="home">
    <div class="home-container">
        <div class="home-title">
            <div class="home-title-logo">
                <div class="home-title-logo-icon">
                    <img src="assets/media/iconLogo.svg" alt="">
                </div>
                <div class="home-title-logo-text">
                    <img src="assets/media/textLogo.svg" alt="">
                    <div class="home-title-logo-text-subtitle">Where books come to life</div>
                </div>
            </div>

        </div>
        <div class="home-video">
            <div class="home-video-title">Building the next book thing</div>
            <div class="home-video-video">
                <video width="100%" height="auto" controls>
                    <source [src]="videoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="home-button"><button>3333 MAGICKEYS to join the history</button></div>
    </div>
</div>